<ion-view view-title="关于">

  <ion-content class="padding">

    <h3>为什么要记账？怎样养成记账与理财习惯？</h3>

    <p>记账是为了我们的生活有品质有追求，这种品质与追求可以是房子车子，可以是美食佳肴，可以是完美的旅行……
      无论选择的是现金支付，还是网购刷卡，通过记账了解我们日常花费与收入来源，慢慢形成良好的财务意识，
      坚持21天就能养成习惯。</p>

    <h3>怎么同步数据？为什么要同步数据？</h3>

    <p>一是，增加数据的安全性：防止因刷机、手机系统崩溃、手机丢失、误删挖财等原因导致辛苦记下的账务数据丢失，并且可备份导出EXCEL数据表；</p>

    <p>二是，实现多平台多人记账：在一个帐号下，通过同步数据到云端，就可实现多人多个平台记账同步；</p>

    <p>三是，数据同步到云端之后，可以享受挖财更多的免费增值服务，比如订阅月账单、消费大PK等。</p>


    <h3>我想和老婆（老公）一起记账，怎么用挖财进行家庭记账？</h3>

    <p>注册一个帐号，然后两人的手机上共用这个帐号进行记账。需要说明的是，为了避免混乱，建议把成员中的“自己”删除，
      新建以家庭成员名字或爱称的成员名，比如老公（LG）、老婆（LP）。</p>

  </ion-content>
</ion-view>
