<ion-view view-title="支出分类">
  <ion-content>

    <div class="center padding-top padding-bottom">
      <button class="button" ng-click="initialCatagory()">
        初始化支出分类
      </button>
    </div>

    <div class="list">
      <div class="item item-big-catagory">
        大分类1<!--{{ category.categoryname }}-->
      </div>

      <div class="item item-small-catagory">
        <!--<i class="icon ion-ios-pricetags-outline circleIconGreen"></i>-->
        小分类1<!--{{ category.categoryname }}-->
      </div>

      <div class="item item-small-catagory">
        <!--<i class="icon ion-ios-pricetags-outline circleIconGreen"></i>-->
        小分类2<!--{{ category.categoryname }}-->
      </div>

      <div class="item item-small-catagory">
        <!--<i class="icon ion-ios-pricetags-outline circleIconGreen"></i>-->
        小分类3<!--{{ category.categoryname }}-->
      </div>
    </div>

    <div class="list">
      <div class="item item-big-catagory">
        大分类2<!--{{ category.categoryname }}-->
      </div>

      <div class="item item-small-catagory">
        <!--<i class="icon ion-ios-pricetags-outline circleIconGreen"></i>-->
        小分类1<!--{{ category.categoryname }}-->
      </div>

      <div class="item item-small-catagory">
        <!--<i class="icon ion-ios-pricetags-outline circleIconGreen"></i>-->
        小分类2<!--{{ category.categoryname }}-->
      </div>

      <div class="item item-small-catagory">
        <!--<i class="icon ion-ios-pricetags-outline circleIconGreen"></i>-->
        小分类3<!--{{ category.categoryname }}-->
      </div>
    </div>

  </ion-content>
</ion-view>
