<ion-view view-title="支出分类">

  <ion-nav-buttons side="right">
    <button class="button-icon ion-plus" ng-click="createCategory()"></button>
  </ion-nav-buttons>

  <ion-content>

    <div class="" ng-repeat="largeCategory in largeCategoryWithSmallCategoriesList track by $index">
      <div class="item item-big-category">
        {{ largeCategory.name }}
      </div>
      <div class="item">
        <div class="row" ng-repeat="smallCategory in largeCategory.small_categories track by $index"
             ng-if="$index % 3 === 0" ng-init="parentIndex = $index">
          <div class="col col-33" ng-repeat="i in [0, 1, 2]">
            {{ largeCategory.small_categories[parentIndex + i].name }}
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
