<ion-view view-title="Dashboard">

  <ion-content>
    <ion-refresher
      pulling-text="松开刷新..."
      pulling-icon="ion-ios-cloud-download-outline"
      disable-pulling-rotation="true"
      refreshing-text="加载中..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="item in refreshItems" class="item item-avatar">
        <img src="{{item.imgURL}}">
        <h2>{{item.title}}</h2>
        <p>{{item.content}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-infinite-scroll
    on-infinite="loadMoreData()">
  </ion-infinite-scroll>

</ion-view>
