<ion-view view-title="记帐">

  <ion-content>
    <div class="list">
      <br>

      <div class="padding">
        <button type="submit" id="expenseRecord" class="button button-block button-positive"
                ng-click="goToExpenseRecord()">
          支出记账
        </button>
      </div>

      <div class="padding">
        <button type="submit" id="incomeRecord" class="button button-block button-positive"
                ng-click="goToIncomeRecord()">
          收入记账
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

