<ion-view view-title="{{ viewTitle }}">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="saveTransaction()">
      <i class="icon ion-ios-checkmark-empty"></i>保存
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">

      <label class="item item-input">
        <span class="input-label">金额</span>
        <input type="number" id="amount" class="text-right" placeholder="0.00" ng-model="transactionRecord.amount">
      </label>

      <!--<ion-slide-box does-continue="true">-->
        <!--<ion-slide ng-repeat="largeCategory in largeCategoryWithSmallCategoriesList track by $index"-->
                   <!--ng-if="$index % 12 === 0" ng-init="slideRepeatIndex = $index">-->
          <!--<div class="row" ng-repeat="i in [0, 1, 2]" ng-init="rowRepeatIndex = $index">-->
            <!--<h5 class="col col-25" ng-repeat="j in [0, 1, 2, 3]" ng-init="colRepeatIndex = $index">-->
              <!--{{ largeCategoryWithSmallCategoriesList[slideRepeatIndex + rowRepeatIndex * 4 + j].name }}-->
            <!--</h5>-->
          <!--</div>-->
          <!--<br>-->
        <!--</ion-slide>-->
      <!--</ion-slide-box>-->

      <div class="row padding" ng-repeat="largeCategory in largeCategoryWithSmallCategoriesList track by $index"
           ng-if="$index % 4 === 0" ng-init="rowRepeatIndex = $index">
        <button class="col col-25 button button-small" ng-repeat="j in [0, 1, 2, 3]"
                ng-class="{'button-positive': isActive(largeCategoryWithSmallCategoriesList[rowRepeatIndex + j].id)}"
                ng-click="setActive(largeCategoryWithSmallCategoriesList[rowRepeatIndex + j].id);
                          showSmallCategories(largeCategoryWithSmallCategoriesList[rowRepeatIndex + j]);"
                ng-if="largeCategoryWithSmallCategoriesList[rowRepeatIndex + j].name">
          {{ largeCategoryWithSmallCategoriesList[rowRepeatIndex + j].name }}
        </button>
      </div>

      <label class="item item-input">
        <span class="input-label">备注</span>
        <input type="text" placeholder="备注" ng-model="transactionRecord.memo">
      </label>

      <div class="row row-center">

        <div class="col col-50">
          <label class="" ng-if="transactionRecord.transactionType === 'Expense'">
            <input type="checkbox" ng-model="transactionRecord.canReimburse" ng-checked="transactionRecord.canReimburse">
            可报销
          </label>
        </div>

        <div class="col col-25 text-right">
          <button class="button button-small button-outline button-balanced" ng-click="showCurrencyList()">
            {{ transactionRecord.currency }}
          </button>
        </div>

        <div class="col col-25">
          <ionic-datepicker input-obj="transactionDatePickerObject">
            <button class="button button-small button-outline button-balanced">
              {{ transactionDatePickerObject.inputDate | date: 'yyyy/MM/dd' }}
            </button>
          </ionic-datepicker>
        </div>

      </div>

    </div>

    <div class="padding">
      <button type="submit" id="save" class="button button-block button-positive" ng-click="saveTransaction()">
        保存
      </button>
    </div>

  </ion-content>
</ion-view>

