<ion-view view-title="MyAccount">
  <ion-content>

    <div class="list">

      <div ng-show="loginFlg" class="item item-avatar item-button-right">
        <img src="./img/ionic.png">

        <h2>已登陆</h2>

        <p>可以与云端同步记帐数据</p>
        <button class="button button-energized" ng-click="logout()">
          Logout
        </button>
      </div>
      <a ng-show="!loginFlg" class="item item-avatar item-icon-right" ng-click="goAuth()">
        <img src="./img/ionic.png">

        <h2>登录</h2>

        <p>登陆后，可以与云端同步记帐数据</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <div class="item item-divider">
        设置
      </div>

      <a class="item item-icon-left item-icon-right" href="#/tab/expenseCategoryList">
        <i class="icon ion-bag"></i>
        支出分类
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/expenseCategoryList">
        <i class="icon ion-social-yen-outline"></i>
        收入分类
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left" onclick="alert('待续...');">
        <i class="icon ion-android-sync"></i>
        同步数据
        <span class="badge badge-assertive">未完待续...</span>
      </a>
      <a class="item item-icon-left" onclick="alert('待续...');">
        <i class="icon ion-android-apps"></i>
        检查新版本
        <span class="item-note right">v{{appVersion}}</span>
      </a>
      <a class="item item-icon-left" href="#/tab/about">
        <i class="icon ion-ios-information-outline"></i>
        关于
        <span class="badge badge-assertive">未完待续...</span>
      </a>

      <div class="item item-divider">
        List
      </div>

      <a class="item item-icon-left " href="#">
        <i class="icon ion-android-alarm-clock"></i>
        打卡提醒设置
        <span class="item-note right">未开启 ></span>
      </a>

      <a class="item" href="#">
        检查新版本
        <span class="item-note right">v{{appVersion}}</span>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatbubble-working"></i>
        Call Ma
        <i class="icon ion-ios7-telephone-outline"></i>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Record album
        <span class="item-note">Grammy</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-assertive">0</span>
      </a>

    </div>


    <!--List Buttons-->
    <div class="item item-divider">
      List Buttons
    </div>

    <div class="list">

      <div class="item item-button-right">
        Call Ma
        <button class="button button-positive">
          <i class="icon ion-ios-telephone"></i>
        </button>
      </div>

    </div>

    <!--Item Avatars-->
    <div class="item item-divider">
      Item Avatars
    </div>

    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="./img/ionic.png">

        <h2>Venkman</h2>

        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>


    <!--Item Thumbnails-->
    <div class="item item-divider">
      Item Thumbnails
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="./img/ionic.png">

        <h2>Pretty Hate Machine</h2>

        <p>Nine Inch Nails</p>
      </a>
    </div>


    <!--Inset Lists-->
    <div class="item item-divider">
      Inset Lists
    </div>

    <div class="list list-inset">
      <div class="item">
        Raiders of the Lost Ark
      </div>
    </div>


    <!-- Card Headers and Footers -->
    <div class="item item-divider">
      Card Headers and Footers
    </div>

    <div class="card">
      <div class="item item-divider">
        I'm a Header in a Card!
      </div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
      <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
    </div>


    <!--Card Lists-->
    <div class="item item-divider">
      Card Lists
    </div>

    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Enter home address
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>

    </div>


    <!--Card Images-->
    <div class="item item-divider">
      Card Images
    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="./img/ionic.png">

        <h2>Pretty Hate Machine</h2>

        <p>Nine Inch Nails</p>
      </div>

      <div class="item item-image">
        <img src="./img/ionic.png">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>


    <!--Card Showcase-->
    <div class="item item-divider">
      Card Showcase
    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="./img/ionic.png">

        <h2>Marty McFly</h2>

        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/ionic.png">

        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>

        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>


  </ion-content>
</ion-view>
